<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
                android:name="net.deali.presentation.searchKeyword.MovieSearchKeywordActivity"
                android:exported="false"
                android:label="@string/title_activity_search_keyword"
                android:theme="@style/Theme.CleanArchitectureCompose" />
        <activity
                android:name="net.deali.presentation.searchResult.MovieSearchActivity"
                android:exported="false"
                android:label="@string/title_activity_movie_search"
                android:theme="@style/Theme.CleanArchitectureCompose" />

        <provider
                android:name="net.deali.presentation.contentProvider.MovieSearchContentProvider"
                android:authorities="MovieSearchContentProvider"
                android:exported="false" />
    </application>

</manifest>